In [505]:
import pandas as pd
import datetime as dt
from re import sub
from decimal import Decimal

In [506]:
load_df = pd.read_csv('output/complete_movie_list_df.csv')
load_df = load_df.drop(['Production','Year','Plot'], axis=1)

In [507]:
load_df = load_df.dropna(how='any')
load_df.head(1)

,Unnamed: 0,Title,Rated,Released,Runtime,Genre,Director,Writer,Actors,Language,Poster,Metascore,imdbRating,BoxOffice
0,0,Pirates of the Caribbean: Dead Man's Chest,PG-13,07 Jul 2006,151 min,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott, Terry Rossio, Stuart Beattie","Johnny Depp, Orlando Bloom, Keira Knightley","English, Turkish, Greek, Mandarin, French",https://m.media-amazon.com/images/M/MV5BMTcwOD...,53.0,7.3,"$423,315,812"

In [508]:
#converting to proper types
load_df['Released'] = pd.to_datetime(load_df['Released'], dayfirst=True)
load_df.Title = load_df.Title.astype('string')
load_df.Rated = load_df.Rated.astype('string')
load_df.Runtime = load_df.Runtime.astype('string')
load_df[['Runtime', 'Trash']] = load_df['Runtime'].str.split(' ', 1, expand=True)
load_df.Genre = load_df.Genre.astype('string')
load_df.Director = load_df.Director.astype('string')
load_df.Writer = load_df.Writer.astype('string')
load_df.Actors = load_df.Actors.astype('string')
load_df.Director = load_df.Director.astype('string')
load_df.Language = load_df.Language.astype('string')
load_df.Poster = load_df.Poster.astype('string')
load_df['BoxOffice'] = load_df['BoxOffice'].replace('[\$,]', '', regex=True).astype(int)
load_df.dtypes

Unnamed: 0             int64
Title                 string
Rated                 string
Released      datetime64[ns]
Runtime               string
Genre                 string
Director              string
Writer                string
Actors                string
Language              string
Poster                string
Metascore            float64
imdbRating           float64
BoxOffice              int32
Trash                 string
dtype: object

In [509]:
 converted_df = load_df

In [510]:
#clean dataframe filted before 2006
converted_df = pd.DataFrame(converted_df.rename(columns={"Unnamed: 0":"movie_id", 'Title':'title','Rated':'movie_rating','Released':'release_date',
'Runtime':'runtime', 'Genre': 'genre_name', 'Metascore':'metascore','imdbRating':'imdb_rating', 'BoxOffice': 'boxoffice'}))
converted_df = converted_df.drop('Trash', axis=1)
converted_df = converted_df[~(converted_df['release_date'] < '2006-01-01')]

#export to csv
converted_df.to_csv ('output/clean_df.csv', header=True, index=False)
converted_df.head(1)

,movie_id,title,movie_rating,release_date,runtime,genre_name,Director,Writer,Actors,Language,Poster,metascore,imdb_rating,boxoffice
0,0,Pirates of the Caribbean: Dead Man's Chest,PG-13,2006-07-07,151,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott, Terry Rossio, Stuart Beattie","Johnny Depp, Orlando Bloom, Keira Knightley","English, Turkish, Greek, Mandarin, French",https://m.media-amazon.com/images/M/MV5BMTcwOD...,53.0,7.3,423315812

In [511]:
#create movie table setup
movie = pd.DataFrame(converted_df[['movie_id','title','movie_rating', 'release_date', 'runtime', 'metascore', 'imdb_rating']])

#export to csv
movie.to_csv ('output/movie.csv', header=True, index=False)

movie.head()

,movie_id,title,movie_rating,release_date,runtime,metascore,imdb_rating
0,0,Pirates of the Caribbean: Dead Man's Chest,PG-13,2006-07-07,151,53.0,7.3
1,1,Night at the Museum,PG,2006-12-22,108,48.0,6.4
2,2,Cars,G,2006-06-09,117,73.0,7.1
3,3,X-Men: The Last Stand,PG-13,2006-05-26,104,58.0,6.7
4,4,The Da Vinci Code,PG-13,2006-05-19,149,46.0,6.6

In [512]:
#create movie table setup
genre = pd.DataFrame(converted_df[['movie_id','genre_name']]).rename(columns={'movie_id':'genre_id'})
#export to csv
genre.to_csv ('output/genre.csv', header=True, index=False)

genre.head()

   genre_id                    genre_name
0         0    Action, Adventure, Fantasy
1         1     Adventure, Comedy, Family
2         2  Animation, Adventure, Comedy
3         3     Action, Adventure, Sci-Fi
4         4             Mystery, Thriller